body {
  position: relative;
  background: $background;

  padding: 0 1rem;

  scroll-behavior: smooth;
}

.button {
  display: flex;
  justify-content: left;
  align-items:center;
  padding: .5rem 1rem;
  width: fit-content;
  background-color: $green;
  border-radius: 3rem;
  font-size: 1.25rem;

  cursor: pointer;

}