.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  padding: 0 1.5rem;

  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-button {
  position: relative;
  padding: .5rem 1.5rem;
  border-radius: 3rem;
  transition: ease-in-out .4s;

  font-size: .875em;
  background-color: #eceef3;
  color: black;
  overflow: hidden;


}

.nav-button:hover {
  background-color: #dcdfe7;
  // background: left;
}

.logo {
  font-size: 1.6rem;
  font-weight: 500;
  // color: #333;

}

.right-menu {
  display: flex;
  gap: 1.6rem;
}
.nav-wrapper {
  padding: 1rem 1.6rem .4rem;
}
