.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  padding: 0 1.5rem;
  // background-color: rgba(232, 234, 241, 0.75);
  // border-radius: 10rem;
  // backdrop-filter: blur(10px);


  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  font-size: 1.6rem;
  font-weight: 500;
  // color: #333;

}

.right-menu {
  display: flex;
  gap: 1.6rem;
}
.nav-wrapper {
  padding: 1.2rem 1.6rem;
}
