.hero {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-size: 2.5rem;
  line-height: 1.25em;
  font-weight: 500;
  display: flex;
  justify-content: center;

}
.hero-letter-container {
  display: inline-block;
  height: 100%;
}

.hero-subtitle {
  font-size: 1.5rem;
  line-height: 1.25em;
  font-weight: 400;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
}

@media (min-width: map-get($breakpoints, 'sm')) {
  .hero-title {
    font-size: 4rem;
  }
}

@media (min-width: map-get($breakpoints, 'md')) {
  .hero-title {
    font-size: 5rem;
  }
}

@media (min-width: map-get($breakpoints, 'lg')) {
  .hero-title {
    font-size: 6.5rem;
  }
}



.hero-badge {
  position: absolute;
  z-index: 1;
}
@media (min-width: map-get($breakpoints, 'sm')) {
  .hero-badge {
    opacity: 0;
  }
}

.social-links {
  height: 5rem;
  width: 5rem;
  margin: 2rem auto;
}
@media (max-width: map-get($breakpoints, 'sm')) {
  .social-links {
    padding-bottom: 14rem;
  }
}

.social-link::before {
  content: "";
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  z-index: -1;
  transition: ease-in-out 0.3s;
  scale: 1.55;
}

@media (min-width: map-get($breakpoints, 'sm')) {
  .social-link::before {
    scale: 1;
  }
}
.social-link:hover::before {
  scale: 1.55;
}
.social-link {
  position: absolute;
  // background-color: rgba(173, 216, 230, 0.75);
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 300ms;
}

.hero-education::before {
  background-color: #edf3fe;
}
.hero-github::before {
  background-color: #fee4ee;

}
.hero-linkedin::before {
  background-color: #e5f1f8;
  // opacity: 0.9;
}

.hero-experience::before {
  background-color: #f5ebfe;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
}


