.timeline {
  position: relative;
  margin: 5rem auto;
  padding: 0;
  // background-color: #f4f4f4;

  // display: grid;
  // grid-template-columns: repeat(12, minmax(0, 1fr));
  // column-gap: 2vw;
}

