.timeline {
  position: relative;
  margin: 5rem auto;
  padding: 0;
  // background-color: #f4f4f4;

  // display: grid;
  // grid-template-columns: repeat(12, minmax(0, 1fr));
  // column-gap: 2vw;
}

#education {
  // grid-column: 1 / span 12;
}

// .timeline-line {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   width: 30px;
//   border-radius: 15px;
//   height: 100%;
//   overflow: hidden;
//   background: #000;
//   transform: translateX(-50%);
// }
// .timeline-line-progress {
//   position: relative;
//   width: 100%;
//   border-radius: 15px;
//   height: 100%;
//   background: lightskyblue;
//   transform-origin: top;

// }